.create{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.create form{
    width: 60%;
}

.create label{
    text-align: left;
    display: block;
}
.create h2{
    font-size: 20px;
    color: rgb(250, 70, 100);
    margin-bottom: 30px;
}

.create input , .create textarea , .create select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
}

.create button{
    background:  rgb(246, 40, 74) !important;
    border-radius: 10px;
    border-color: white;
}