
.App{
    text-align: center;
}
.App button{
    padding: 20px;
    text-align: center;
    background-color: rgb(248, 196, 205);
    box-shadow: 1px 5px 2px black;
    margin: 10px;
    font-size: 50px;
}